@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}


/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  background: #555;
  font-size:2em;
  text-align: center;
  font-family:'Open Sans', serif;
  font-weight:300;
}

h1,h2{
  font-weight: 800;
}

h3,h4,h5{
  font-weight: 600;
}

h2.site-message{
  padding-top:60px;
}

h3.site-purpose{
  padding-bottom: 30px;
}

h3.sub-message{
  padding: 40px 0;
  font-style: italic;
}

a{
  text-decoration: none;
  color: rgb(255, 189, 189);
}

a:hover {
    text-decoration: underline;
}

#main{
  background: white;
  padding-bottom: 75px;
}

#taps-text-area{
  font-family:'Open Sans', serif;
  font-weight: 800;  
}

.taps-message {
  font-size:4em;
  padding-top:20px;
  padding-bottom: 15px;
  text-shadow:0 4px 10px #AAA;
  color:#111;
  line-height: 1.1em;
}

.taps-definition {
  font-size:16px;
  font-weight:300;
  padding-top:50px;
  color: #888;
  font-style: italic;
  text-align: justify;
}

.taps-definition > span.b {
  font-weight: 600;
  font-style: italic;
}

.superscript{
  vertical-align: super;
  font-size:10px;
  color: #CE2C2C;
  font-weight: 600;
}

p.close{
  padding-top: 60px;
}

span.taps-aff { color:#FF5454; }

span.taps-oan { color:#2A44F0; }

span.taps-error { color:#333;  }

#social-media{
  padding-bottom: 5px;
}

.message-button{
  padding-top:35px;
  padding-bottom:35px;
}


#moreinfo {
  font-size: 18px;
  padding-top: 40px;
  color: white;
  background: #555; /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #555555 77%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(77%,#555555)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%,#555555 77%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%,#555555 77%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #333333 0%,#555555 77%); /* IE10+ */
  background: linear-gradient(to bottom, #333333 0%,#555555 77%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#555555',GradientType=0 ); /* IE6-8 */
}

#moreinfo > .container > div > section > .container > .columns {
  margin: 20px 0;
  padding: 5px;
  min-height: 60px;
  border: 0;
}

span.info-title{
    display:block;
    font-weight:600;
    margin-bottom: 10px;
}

span.info-value{
    display: block;
}

div#location-entry{
  background: #fff;
  padding: 20px 0;
  font-style: italic;
  border: 0;
}

input#location{
  width: 100%;
  text-align: center;
  padding: 9px 0px 4px 0px;
  font-size: 20px;
  line-height: 36px;
  height: 53px;
  border-radius: 0px;
  outline: none;
  border: none;
  padding: 0;
  background-color: #fff;
  border: 1px solid #EEE;
  margin-top: 10px;
  font-style: italic;
}


/*input#location.notfound{*/
 /*background-color: #FF5454;*/
/*color: #000;*/
/*}*/

/*input#location.notfound:focus{*/
  /*background-color: #fff;*/
 /*-webkit-transition: background-color 100ms linear;*/
 /*-moz-transition: background-color 100ms linear;*/
 /*-o-transition: background-color 100ms linear;*/
 /*-ms-transition: background-color 100ms linear;*/
 /*transition: background-color 100ms linear;*/
/*}*/

div#share p{
  font-size: 30px;
  font-weight: 300;
  text-align: right;
}

div#share a.social-media{
  text-align: left;
  text-indent: -5000px;
  width: 30px;
  height:30px;
  display: inline-block;
}

div#share a.social-media.facebook{
  background:url('../img/socialmedia.png');
  background-position: 60px 0px;
}

div#share a.social-media.twitter{
  background:url('../img/socialmedia.png');
}

div#share a.social-media.google{
  background:url('../img/socialmedia.png');
  background-position: 30px 0px;
}

@media only screen and (max-width: 767px){
  #moreinfo > .container > div > section > .container > .columns{
    margin: 5px 0;              
  }

  h2.site-message {
    padding-top: 20px;
  }

  div#share{
    display: none;
  }

}

@media (min-width: 767px){
  #themessages{
    position: fixed;
    top:10px;
    padding-top:0;
    right:10px;
    width: 150px;
  }
}
