/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  background:#FFF;
  font-size:2em;
  text-align: center;
  font-family:'Open Sans', serif;
  font-weight:300;
}

h1,h2,h3,h4,h5{
  font-weight: 800;
}

a{
  text-decoration: none;
  color: rgb(255, 189, 189);
}

a:hover {
    text-decoration: underlined;
}

#taps-text-area{
  font-family:'Open Sans', serif;
  font-weight: 800;  
}

.taps-message {
  font-size:4em;
  padding-top:20px;
  padding-bottom: 15px;
  text-shadow:0 4px 10px #AAA;
  color:#111;
}

#moreinfo {
  font-size: 18px;
  margin-top: 75px;
  padding-top: 40px;
  color: white;
  background: #555;
}


div.fb-like {
  width:135px;
  margin:0 auto;
}

span.taps-aff { color:#FF5454; }

span.taps-oan { color:#2A44F0; }

span.taps-error { color:#333;  }


span.info-title{
    display:block;
    font-weight:800;
    margin-bottom: 10px;
}

span.info-value{
    display: block;
}

#moreinfo > .container > div > section > .container > .columns {
  margin: 20px 0;
  padding: 5px;
  min-height: 60px;
}

hr{
    border:0;
    border-bottom: 1px solid grey;
}

h2.site-message{
  padding-top:60px;
}

h3.site-purpose{
  padding-bottom: 30px;
}


@media only screen and (max-width: 767px) and (min-width: 480px){
  #moreinfo > .container > div > section > .container > .columns{
    margin: 5px 0;              
  }

  h2.site-message {
    padding-top: 20px;
  }

  .taps-message {
    line-height: 1.1em;
  }

}
